/* .chart__languages {
    width: 600px;
    height: 300px;
}

.chart__level{
    width: 600px;
    height: 300px;
}

.chart__technologies {
    width: 600px;
    height: 300px;
}

.chart__constracts{
    width: 600px;
    height: 300px;
}

.chart__company_size{
    width: 600px;
    height: 300px;
} */