{% extends "base.html" %}
{% block content %}
<section class="content__section">
    <h3 class="content__subtitle">Let's see what job offers says...</h3>
    <div class="chart__languages charts">
        <p class="charts__description">No significant winner in the field of programming languages. However more than a half of the market is being occupied by Python, Java and JavaSript.</p>
    </div>
    <div class="chart__level charts">
        <p class="charts__description">The market shows its demand on qualified employees. Offers for juniors is only a margin.</p>
    </div>
    <div class="chart__constracts charts">
        <p class="charts__description">Based on our data employers prefer B2B contract type.</p>
    </div>
    <div class="chart__technologies charts"></div>
    <div class="chart__company_size charts"></div>
</section>
{% endblock content %}