{% load static %}

<div class="footer">
    <section class="footer__team">
        <span class="footer__teamtitle">Team members:</span>
        <ul class="footer__teamlist">
            <li class="teamlist__item">Mikołaj Marchewa</li>
            <li class="teamlist__item">Michał Ćwierz</li>
            <li class="teamlist__item">Mateusz Górczany</li>
            <li class="teamlist__item">Konrad Walas</li>
            <li class="teamlist__item">Adrian Furman</li>
        </ul>
    </section>
    <section class="footer__info">
        <span class="footer__title">PITE 2020 Summer</span>
        <p class="footer__description">This is project for Python in the Enterprise course at WFiIS, AGH University of Science and Technology</p>
        <img  class="footer__github" src="{% static 'github.png' %}" alt="">
    </section>
</div>